body{
  background-image: url("../public/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  margin: auto;
}
header {
  min-width: 100vw;
  background-color: #002f34;
}
header img{
  height: 100px;
}
header a{
  text-decoration: none;
  color: white;
}
header button{
  min-height: 50px;
  background-color: rgba(238, 13, 13, 0.938);
  color: aliceblue;
  border-radius: 8px;
  border: none;
}
.loginButton {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: rgba(24, 14, 225, 0.938);
  color: aliceblue;
  border-radius: 8px;
  border: none;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ukr{
  color:#7f9799
}
.ukr::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 10px;
  background-color:#7f9799;
  position: relative;
  right: 10px;

}
.eng{
  color: white;
  position: relative;
  right: 20px;
}
.navbar a{
  margin-left: 50px;
}
main{
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 100px auto;
  background-color: rgb(199, 218, 234);
  padding: 20px;
  flex: 1;
}
.footer{
  display: flex;
  justify-content: center;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
